* {
	box-sizing: border-box;
}

.total-bar {
	position: absolute;
	/*background: grey;*/
	overflow: auto;
	right: calc(0%);
	top: 70px;
	height: 80%;
	width: 15%;
	z-index: 10;
	border: 10px solid black;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
	margin-left: 30%; 
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

header {
	font-size: 30px;
	font-weight: bold;
	display: block;
	text-align: center;
}
body {
	background: url('/static/fountainbackground.PNG');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

pre {
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}

p {
	display: inline-block;
	padding-inline-start: 3%;
	font-size: 25px;
	margin-top: 0%;
}

.row .desserts #compons {
	text-align: center;
	font-size: 20px;
	padding-left:20%;
	padding-right: 20%;
}

.row {
	position: relative;
	font-size: 20px;
	padding-left: 3%;
	padding-right: 3%;	
	margin-bottom: 1%;
	width: 85%;
	border: 10px solid black;
	
}

.row .MainCourses{
	text-align: center;
}

.row h1 {
	font-style: italic;
}

.row .appetizers {
	/*background: green;*/
	height: 20%;
}

.row .appetizers #app-sides{
	text-align: center;
	font-size: 20px;
	padding-left:20%;
	padding-right: 20%;
}

.row .sides {
	/*background: magenta;*/
	height: 12%;
}

.row .sides #side-table {
	text-align: center;
	font-size: 20px;
	padding-left:10%;
	padding-right: 10%;
}

.row .desserts {
	/*background: orange;*/
	height: 12%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}