<!DOCTYPE html>
<html>
<head>
	<script type=text/javascript src="{{
		url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
		<title> EzOrdr Sample </title>
	<script type = "text/javascript" 
	src = "{{ url_for('static', filename = 'script.js') }}" ></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>Sample Menu</header>
	<div class = "row">
		<div class="appetizers">
			<h1 id="Starters" align="center"> Appetizers </h1>
			<div id="app-sides">
				<p>House Salad<input type="checkbox" name="House Salad" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Sliders<input type="checkbox" name="Sliders" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Nachos<input type="checkbox" name="Nachos" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Chips<input type="checkbox" name="Chips" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Fish Tacos<input type="checkbox" name="Fish Tacos" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Buffalo Wings<input type="checkbox" name="Buffalo Wings" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Fried Onion<input type="checkbox" name="Fried Onion" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Pepper Rings<input type="checkbox" name="Pepper Rings" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Crab Cakes<input type="checkbox" name="Crab Cakes" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Salsa<input type="checkbox" name="Salsa" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Hummus<input type="checkbox" name="Hummus" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Bacon<input type="checkbox" name="Bacon" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Pigs in Blanket<input type="checkbox" name="Pigs in Blanket" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Pork Sliders<input type="checkbox" name="Pork Sliders" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
				<p>Normal Tacos<input type="checkbox" name="Normal Tacos" class="appetizers1" value="true" onclick="addThisItemToList(this)"></p>
			</div> 
		</div>
	</div>

	<div class = "row">
			<div class="MainCourses">
				<h1 id="Entrees" align="center"> Entrees </h1>
				<div class="entree-items">
						<p> Hamburger <input type="checkbox" name ="Hamburger" class="burgers1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Burrito <input type="checkbox" name ="Burrito" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Hot Dog <input type="checkbox" name ="Hot Dog" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Tacos <input type="checkbox" name ="Tacos" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Lasagna <input type="checkbox" name ="Lasagna" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Yogurt <input type="checkbox" name ="Yogurt" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Pizza <input type="checkbox" name ="Pizza" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Cheese Plate <input type="checkbox" name ="Cheese Plate" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Ribs<input type="checkbox" name ="Ribs" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Flatbread <input type="checkbox" name ="Flatbread" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Sausage<input type="checkbox" name ="Sausage" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
						<p> Cream Pie<input type="checkbox" name ="Cream Pie" class="burritos1" value="true" onclick="addThisItemToList(this)"></p>
				</div>
			</div>
		</div>

	<div class = "row">
			<div class="sides">
				<h1 id="sides" align="center"> Sides </h1>
				<div id="side-table">
					<p> Broccoli <input type="checkbox" name ="Broccoli" class="sides1" value="true" onclick="addThisItemToList(this)"></p>
					<p> Caesar Salad<input type="checkbox" name ="Caesar Salad" class="sides1" value="true" onclick="addThisItemToList(this)"></p>
					<p> Asparagus <input type="checkbox" name ="Asparagus" class="sides1" value="true" onclick="addThisItemToList(this)"></p>
					<p> Fries <input type="checkbox" name ="Fries" class="sides1" value="true" onclick="addThisItemToList(this)"></p>
					<p> Onion Rings<input type="checkbox" name ="Onion Rings" class="sides1" value="true" onclick="addThisItemToList(this)"></p>
					<p> Mashed Potatoes <input type="checkbox" name ="Mashed Potatoes" class="sides1" value="true" onclick="addThisItemToList(this)"></p>
				</div> 
			</div>
	</div>

	<div class = "row">
			<div class="desserts">
				<h1 id="Desserts" align="center"> Desserts </h1>
				<div id="compons">
          			<p> Creme Brule <input type="checkbox" name="Creme Brule" class="desserts1" onclick="addThisItemToList(this)"></p>
					<p> Flan <input type="checkbox" name ="Flan" class="desserts1" onclick="addThisItemToList(this)"></p>
					<p> Cheesecake <input type="checkbox" name ="Cheesecake" class="desserts1" onclick="addThisItemToList(this)"></p>
					<p> Cupcake <input type="checkbox" name ="Cupcake" class="desserts1" onclick="addThisItemToList(this)"></p>
				</div> 
				
			</div>
	</div>


	<div class = "total-bar">
		<div class="total">
			<h1 id="total" align="center"> Your Order </h1>
			<div id="t-bar">
				<pre id="checkedItems"> </pre>
			</div> 
		</div>
		<div id = "sub-button">
			<button onclick="senddata()">Submit</button>
		</div>
	</div>

<div id="snackbar">Please select a food item before ordering..</div>
</body>

</html>