<!DOCTYPE html>
<html>
<head>
	<script type=text/javascript src="{{
		url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
		<title> EzOrdr Sample </title>
	<script type = "text/javascript" 
	src = "{{ url_for('static', filename = 'reciever.js') }}" ></script>	
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> <!-- maybe create new div for each order then p's? -->
		<!--

		<p id = "dessertsQ"></p>
		<p id = "sidesQ"></p>
		<p id = "burritosQ"></p>
		<p id = "burgersQ"></p>
		<p id = "appetizersQ"></p> -->
</body>

<style>
body {
	background: lightseagreen;
}
div {
	width: 20%;
	background: blue;
	padding: 20px;
	border: black;
	margin: 10px black;
}
</style>
</html>
