<!DOCTYPE html>
<html>
<head>
	<script type=text/javascript src="{{
		url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
		<title> EzOrdr Sample </title>
	<script type = "text/javascript" 
	src = "{{ url_for('static', filename = 'reciever.js') }}" ></script>	
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
</body>

<style>
body {
	background: lightseagreen;
}
div {
	width: 20%;
	background: lightblue;
	padding: 20px;    
	margin: 1% 1% 1% 1%;
	display:inline-block;
}
h2{
    margin-bottom: 0%;
}
p{
    font-size: 18pt;
}
</style>
</html>
