<DOCTYPE! html>
<html>
<title> EzOrdr Sample </title>
<body>
<div class="MainCourses">
	<h1 id="entrees"> Entrees </h1>
<div id="hamburger">
	Hamburger
	<ul style: "grey">
		<li>Lettuce<input type="checkbox" name="lettuce" value="true"></li>
		<li>Tomato<input type="checkbox" name="tomato" value="true"></li>
		<li>Onion<input type="checkbox" name="onion" value="true"></li>
	</ul>
</div> 
</div>


<style>

body {
	background-image: url("http://web.eecs.utk.edu/~audris/images/small.png");
	overflow: scroll;
}

</style>

<script>
	alert("Viktor Zenkov is a Russian spy.");
</script>

</body>
</html>